
<div class="container-fluid" id="nav-head">
  <h1>BEER <span>GOBLIN</span></h1>
  <h5>Choose your beer or search</h5>
    <div id="search-bar">
    <%= form_tag("/products", method: "get") do %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
    <% end %>
    </div>
</div>

<div class="container-fluid" id="side-nav-wrapper">
  <ul class="side-nav">
    <li><a>Brooklyn Brewery</a></li>
    <li><a>Wychwood</a></li>
    <li><a>Flying Dog</a></li>
    <li><a>Oskar Blues</a></li>
    <li><a>Goose Island</a></li>
    <li><a>BrewDog</a></li>
  </ul>
</div>

<div class="container-fluid" id="beer-content">
  <div id="beer-logo"> 
  </div>
  <div class="row">
    <%= render @products %>
  </div>
</div>

<p id="notice"><%= notice %></p>

<%= link_to 'New Product', new_product_path %>

<br>


