<!DOCTYPE html>
<html>
  <head>
    <title>Beergoblin</title>
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body>
<% if notice %>
    <p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>
  <% if alert %>
    <p id="notice" class="alert alert-info"><%= alert %></p>
<% end %>
 
		<nav class="responsive">
			<ul class="topnav" id="myTopnav">
			  <li><%= link_to "Home", static_pages_index_path %></li>
			  <li><%= link_to "Beers", products_path %></li>
			  <li><%= link_to "News", static_pages_news_path %></li>
			 	<li><%= link_to "Contact", static_pages_contact_path %></li>
			  <li><%= link_to "Order", orders_path %></li>
        <li>
          <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          <% else %>
            <%= link_to('Login', new_user_session_path) %>
          <% end %>
        </li>
			  <li class="icon"><a href="javascript:void(0);" onclick="myFunction()">&#9776;</a></li>
			</ul>
		</nav>


    <%= yield %>

    <footer>
  &copy; 2016 Beer Goblin
</footer>
  </body>
</html>
